*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstDiv{
    position: relative !important;
    /* margin-bottom: -10px; */
}
.beachPic{
    width: 100%;
}
.headDiv{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 70% !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: inherit;
    padding: 0 16px;
    background-color: #ffc107;
    opacity: 0.7;
    margin: 4px 0;
    line-height: 1.5;
}
.yellowHead{
    box-sizing: inherit;
    line-height: 1.5;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}
.headDiv:hover{
    background-color: #ff9800;
}
.parentDiv{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    /* margin-top: 23px; */
}
.row{
    width: 99.99%;
    display: flex;
    flex-direction: row;
    padding: 0.01em 16px;
    margin: 46px 0 18px;
}
.row2{
    margin: 50px 0 17px;
}
.childDiv{
    padding: 0.01em 16px;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.image{
    border-top: 6px #ffc107 solid;
}
.orangeBorder{
    border-top: 6px #ff9800 solid;
}
.heading{
    letter-spacing: 0.48px;
    margin: 13.5px 0 20.5px;
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
}
.para{
    font-family: verdana,sans-serif;
    font-size: 15px;
}
@media screen and (max-width: 600px) {
.beachPic{
    height: 22.9vh;
}
.yellowHead{
    display: none;
}
.parentDiv{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.childDiv{
    padding: 7.5px 0;
}
.image{
    height: 217px;
}
}