*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.beachPic{
    background-image: url('https://www.w3schools.com/w3images/beach3.jpg');
    background-size: cover;
    width: 100%;
    height: 101.8vh;
    display: flex;
    align-items: flex-end;
}
.yellowHead{
    position: absolute;
    bottom: 8.4%;
    left: 0;
    background-color: rgb(255, 208, 0);
    opacity: 0.6;
    width: 70% !important;
    padding: 10px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 45px;
}
.yellowHead:hover{
    background-color: orange;
}
.parentDiv{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-left: 32px;
}
.childDiv{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 50px 32px 17px 0;
}
.image{
    width: 99.9%;
    border-top: 6px orange solid;
}
.heading{
    letter-spacing: 0.53px;
    margin: 13px 0 19px;
    font-size: 29px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
}
.para{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}
@media screen and (max-width: 600px) {
.beachPic{
    height: 22.9vh;
}
.yellowHead{
    display: none;
}
.parentDiv{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-bottom: 63px;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.childDiv{
    padding: 7.5px 0;
}
.image{
    height: 217px;
}
}